$headerBackground: url(../img/header_background_v2.jpg);
$fonts: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$contentBackground: #660;
$buttonColor: #0401ac;
$buttonTextColor: #fff;
$navBorderColor: rgba(208,217,221,.9);
$headerTextColor: #ff5724;
$timeTextColor: #c6c8cc;
$titleArticleColor: #607d8b;
$articleTextColor: #797b7f;
$formDescriptionColor: #607e8c;
$sectionHeaderColor: #767676;
$articleBackground: #ffffff;
$horizontalLineColor: #607e8c;
$footerTextColor: #00060e;
$bodyColor: #eee;