$headerBackground: url(../img/header_background_v1.jpg);
$fonts: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$contentBackground: #fff;
$buttonColor: #01acac;
$buttonTextColor: #fff;
$navBorderColor: rgba(96,126,140,.9);
$headerTextColor: #ececec;
$timeTextColor: #e90303;
$titleArticleColor: #1197a7;
$articleTextColor: #010f16;
$formDescriptionColor: #1b9cb3;
$sectionHeaderColor: #00060e;
$articleBackground: #efefef;
$horizontalLineColor: #607e8c;
$footerTextColor: #00060e;
$bodyColor: #fff;


