* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  max-width: 100%; }

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: #eee; }

.main-wrapper {
  background-image: url(../img/header_background_v2.jpg);
  height: 100vh;
  background-size: cover; }
  .main-wrapper .logo {
    width: 250px;
    height: 140px; }
  .main-wrapper .top-wrapper {
    display: flex;
    justify-content: space-between; }
  .main-wrapper header {
    color: #ff5724;
    text-transform: uppercase;
    text-align: center;
    height: 100vh; }
    .main-wrapper header section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 160px; }
    .main-wrapper header nav a {
      line-height: 55px;
      padding: 25px 110px;
      border-right: 2px solid rgba(208, 217, 221, 0.9); }
      .main-wrapper header nav a:last-child {
        border-right: none; }
    .main-wrapper header a {
      color: #ff5724;
      text-decoration: none;
      font-weight: 600; }
    .main-wrapper header .btn-top {
      background-color: #0401ac;
      padding: 18px 65px;
      text-decoration: none;
      position: relative;
      top: 40px;
      color: #fff; }
      .main-wrapper header .btn-top:hover:hover {
        background: #0501df;
        transition: 0.3s; }
  .main-wrapper main {
    margin: 0 auto;
    width: 960px; }
    .main-wrapper main .toolbar {
      display: flex;
      justify-content: flex-end;
      padding-top: 30px; }
      .main-wrapper main .toolbar input {
        width: 180px;
        height: 40px;
        padding-left: 15px;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        outline: none; }
    .main-wrapper main section h1 {
      width: 100%;
      text-align: right;
      text-transform: uppercase;
      margin-top: 22px;
      color: #767676; }
    .main-wrapper main section article {
      background-color: #ffffff;
      display: flex;
      margin-top: 25px; }
      .main-wrapper main section article .btn {
        width: 220px;
        height: 45px;
        float: right;
        margin-right: 15px;
        margin-top: 20px;
        border: none;
        background-color: #0401ac;
        text-transform: uppercase;
        color: #fff; }
      .main-wrapper main section article img {
        margin: 10px; }
      .main-wrapper main section article .post {
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 15px; }
        .main-wrapper main section article .post .post-description {
          color: #c6c8cc;
          line-height: 30px;
          border-bottom: 1px solid #607e8c; }
        .main-wrapper main section article .post h3 {
          color: #607d8b;
          text-transform: uppercase;
          margin-top: 10px; }
        .main-wrapper main section article .post p {
          color: #797b7f;
          line-height: 20px; }
  .main-wrapper #about p {
    color: #797b7f;
    line-height: 30px;
    margin-bottom: 30px; }
  .main-wrapper #contact h4 {
    text-align: right;
    text-transform: uppercase;
    color: #767676; }
  .main-wrapper #contact label {
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 3px;
    color: #607e8c; }
  .main-wrapper #contact .inputs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 34px;
    margin-bottom: 26px; }
    .main-wrapper #contact .inputs .inputsItem {
      width: 100%; }
      .main-wrapper #contact .inputs .inputsItem:first-child {
        margin-right: 10px; }
    .main-wrapper #contact .inputs input {
      height: 48px;
      width: 100%;
      font-size: 20px;
      padding-left: 15px; }
  .main-wrapper #contact textarea {
    width: 100%;
    font-size: 20px;
    padding: 15px;
    margin-bottom: 0; }
  .main-wrapper #contact .sendBtn {
    float: right;
    background-color: #0401ac;
    width: 200px;
    height: 38px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 28px;
    position: relative;
    bottom: 10px; }
    .main-wrapper #contact .sendBtnhover:hover {
      background: #0501df;
      transition: 0.3s; }
  .main-wrapper footer {
    padding: 9px;
    font-size: 15px;
    color: #00060e;
    position: relative;
    top: 50px; }

/*# sourceMappingURL=style2.css.map */
